* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }
  header {
    position: fixed;
    width: 100%;
    top: 0px;
    background: #FFFFFF;
  }
  a {
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    margin: 0 30px 0 20px;
    height: 40px;
    margin-top: 3px;
  }
  .left-container {
    display: flex;
    justify-content: flex-start;
  }
  .right-container {
    display: flex;
    justify-content: flex-start;
  }
  .nylogo {
    width: 250px;
  }
  .icon {
    margin: 10px;
    display: flex;
    align-items: center;
  }
  .space {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    letter-spacing: 0.7px;
    line-height: 19px;
    font-size: 0.8em;
    font-weight: 700;
  }
  .subscribe a {
    font-family: nyt-franklin;
    font-size: 0.875rem;
    font-weight: 600;
    opacity: 1;
    transition: opacity 0.7s ease-in-out 0s;
    text-decoration: underline;
  }
  .button {
    text-align: center;
    color: rgb(18, 18, 18);
    background-color: rgb(18, 18, 18);
    color: #ffffff;
    font-size: 1em;
    height: 32px;
    letter-spacing: 0.01em;
    text-transform: none;
    border-color: 1px solid rgb(18, 18, 18);
    border-radius: 3px;
    margin-right: 1px 0px 0px;
    padding: 5px 10px 5px 10px;
  }
  .fas:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
  .fa:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
  .space:hover {
      text-decoration: underline;
  }
  #search-form {
    display: none;
  }
  .space-section{
      margin: 0 auto;
      width: 60%;
      height: 2000px;
      border: 1px solid black;
      margin-top: 50px;
  }
  .space-heading {
      text-align: center;
  }
  @media only screen and (max-width: 990px) {
    
    .space {
        display: none;
    }
    #search-fa {
        display: none;
    }
  }
  @media only screen and (max-width: 741px) {
    
    .subscribe {
        display: none;
    }
    .button {
        background-color: #FFF;
        color: black;
        border: none;
    }
  }
 